body {
	background-color: black;
	color: white;
	font-family: Roboto;
	font-weight: 400;
}

.wrap {
	/*border: 2px dotted green;*/
	width: 96%;
	padding: 2.5em;
	background-color: black;
}

#title-wrap {
	height: 500px;
}

#links-wrap {
	height: 150px;
}

#one {
	background-color: black;
	display: block;
	height: 100%;
	width: 100%;
	border: 1px solid white;
}

#title-box {
	margin-left, margin-right: auto;
	margin-top: 160px;
	text-align: center;
	font-size: 100px;
	font-weight: 100;
}

#title-box:hover {
	text-shadow: 2px 2px 8px #f1aae4;
}

#two {
	margin-top: 55px;
	width: 100%;
	text-align: center;
}

.link {
	display: inline-block;
	font-size: 1.25em;
}

.white {
	background-color: white;
	padding: 9px;
	border-radius: 25px;
}

img {
	height: 100px;
	width: 100px;
}

.spacer {
	display: inline-block;
	width: 20%;
}

#three {
	margin-top: 60px;
	padding: 50px 80px 20px 80px;
	font-size: 2em;
	font-weight: 300;
}


.heavy {
	font-weight: 400;
}

#footer {
	text-align: center;
	font-weight: 100;
	padding-top: 45px;
}
