body {
	background-color: black;
}

.outline {
	position: absolute;
	left: 2.5em;
	right: 2.5em;
	top: 2.5em;
	bottom: 2.5em;
	border: 1px solid white;
}

.centered {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -75%);
}

#title-box {
	font-family: 'Roboto', sans-serif;
	display: inline-block;	
	margin: auto;
	color: white;
}

#my-name {
	font-size: 7em;
	font-weight: 100;
}

#my-name:hover {
	text-shadow: 1px 1px 8px #f8d6f2;
}

#my-skill {
	font-size: 4em;
	font-weight: 400;
	margin-left: 63%;
	margin-bottom: 50px;
}
