@import '../common/breakpoints.scss';
@import '../common/colors.scss';
@import '../common/fonts.scss';

.template {
  .blog-post-container {
    max-width: 95%;
    margin: auto;
    min-height: 100vh;

    @include breakpoint(xs) {
      max-width: 65%;
    }

    @include breakpoint(md) {
      max-width: 50%;
    }
    
    font-family: $primary-font-family;

		.blog-title-card {
			position: relative;
			width: 100%;
			border-radius: 4px;

			.shade, .blog-title {
				height: 100%;
				width: 100%;
				position: absolute;
				top: 0;
			}

			.shade {
				height: 98%;
			}

			.shade {
				opacity: .45;
			}

			.blog-title {
				display: flex;
				align-items: center;
				justify-content: center;

				h1 {
					font-family: $primary-font-family;
					font-weight: bold;
					color: white;
					opacity: 1;
					font-size: 24px;
					text-align: center;
					max-width: 80%;

					@include breakpoint(sm) {
						font-size: 56px;
					}
				}
			}

		}

    ol, ul {
      padding-left: 32px;
    }
    ol {
      list-style: 1;
    }
    h1, h2, h3 {
      font-weight: bold;
      margin-top: 18px;
    }
    p, ol, ul {
      margin-top: 12px;
    }
    h1, h2, h3, p, ol, code {
      line-height: 1.5;
      color: $black;
    }

    h1 {
      font-size: $font-size-h1;
    }
    h2 {
      font-size: $font-size-h2;
    }
    h3 {
      font-size: $font-size-h3;
    }
    p, li {
      font-size: $font-size-p;
    }
    code {
      background: $pale-yellow;
      padding: 3px 6px;
      border-radius: 3px;
      font-family: $font-family-mono;
      font-weight: bold;
    }
    img {
      max-width: 100%;
    }
    blockquote p {
      max-width: 100%;
      display: flex;
      flex-direction: row;
      img {
        width: 25%;
        height: 25%;
      }
    }
  }

	.home-link, .home-link:visited {
		display: flex;
		flex-direction: column;
		width: 100%;
		align-items: center;
		margin-top: 48px;
		cursor: pointer;
		color: blue;
		font-family: $font-family-mono;

		&:hover {
			opacity: $hover-opacity;
		}

		.root-icon-container {
			margin: 0;

			.root-icon {
				fill: $black;
				height: 48px;
				width: 48px;
			}
		}
	}

  .cta-wrapper {
    padding-top: 52px;
  }
}
