<!-- About -->
<section id="about">
    <h2>About</h2>
    <div class="left onethird">
        <img class="headshot" src="../img/headshot.jpg" alt="headshot">
    </div>
    <div class="right twothirds">
    <h3>Anthony Castrio</h3>
    I'm a student at the University of Maryland, College Park. As a student and taxpayer, the rising cost education in the United States is a very important issue to me. I hope that by collecting this information in one place, it will be easier for concerned citizens to develop an informed opinion about the issue, and perhaps through collective action we can instigate change in the system. <br/> <br/>
    This website was constructed as part of an assignment for English 101 taught by Dr David Brookshire.
    </div>
</section>
<!-- /About -->

