<!-- Act Now -->
<section id="actnow">
    <h2>Act Now</h2>
	<p>You can instigate change right now by sending an email to your representative in Congress. Enter your zipcode and we'll find their contact information for your. Personalize your message, add your contact information, and click "Send Your Message" to send them an email.</p>
	<form id="findzip" method="post">
		<div>	
			<label for="zip">Zipcode:</label>
			<input type="text" id="zipcode" name="user_zip" class="zip" />
		</div>
		<div class="button">
			<button type="submit">Find Your Representative</button>
		</div>
	</form>
	<form id="actnowform" method="post">
		<div>
			<label for="msg">Message:</label>
			<textarea id="msg" name="user_message" class="message"></textarea>
		</div>
		<div>
			<label for="name">Sign Here:</label>
			<input type="text" id="name" name="user_name" class="name" />
		</div>
		<div>
			<label for="mail">Your Email:</label>
			<input type="email" id="mail" name="user_email" class="email"/>
		</div>
		<div>
			<label for="address">Your Address:</label>
			<input type="address" id="address" name="user_address" class="address"/>
		</div>

		<div class="button">
			<button type="submit">Send Your Message</button>
		</div>
	</form>

</section>
<!-- /Act Now -->

