<!-- Bibliography -->
<section id="bibliography">
    <h2>Bibliography</h2>
    <ol class="sources">
        <li>
            11 USCA. Sec. 523. 1978.
            <div class="annotation">This section of U.S. bankruptcy law describes the legal structure of student debt, which is not discharable in bankruptcy.</div>
        </li>
        <li>
            Abel, Jaison, and Richard Deitz. "The Value of a College Degree." Liberty Street Economics. Federal Reserve Bank of New York, 2 Sept. 2014. Web. 7 May 2015.
            <div class="annotation">Abel and Deitz of the New York State Fed analyze the value of a college degree. They use data from the U.S. Census Bureau, U.S. Bureau of Labor Statistics, and the U.S. Department of Education, among others, to show that the value of a bachelor's degree for the average graduate has stayed near its all time high of $300,000 for the last decade.</div>
        </li>
		<li>
"About The Fellowship." Thiel Fellowship. Thiel Foundation. Web. 7 Apr. 2015.
		<div class="annotation">An overview provided on the Thiel Foundation website of the benefits of the program, how it works, why it exists, and what its participants have achieved so far.</div>	
		</li>
		<li>
Altucher, James. "Don’t Send Your Kids to College." Altucher Confidential RSS. Web. 7 Apr. 2015.
		<div class="annotation">A blog post by entrepreneur and bestselling author James Altucher explaining his argument against sending your kids to college.</div>
		</li>
        <li>
            Autor, David. "Skills, Education, and the Rise of Earnings Inequality among the “other 99 Percent”." Science 344.6186 (2014): 843-51. Science. HighWirePress. Web. 7 May 2015.
            <div class="annotation">This paper written by David Autor of the Massachusetts Institute of Technology Economics department  analyzes the growing wage premium associated with higher education as well as innate cognitive ability. He documents how supply and demand for skills have shaped inequality and why the demand for highly skilled workers is continuing to rise.</div>
        </li>
		<li>
Bennett, William. "Our Greedy Colleges." The New York Times. The New York Times, 17 Feb. 1987. Web. 7 Apr. 2015.
			<div class="annotation">An opinion written by William J Bennett who, at the time of publication, was the Secretary of Education. He argues that the federal subsidization of student loans has led to increasing tuition and that removing those subsidies would lead to lower overall expenses for college students.</div>
		</li>
        <li>
            Brunner, Marie. "Brunner Case on Student Loan Discharge." Brunner Case on Student Loan Discharge.   United States Court of Appeals, Second Circuit., 14 Oct. 1987. Web. 8 May 2015.
            <div class="annotation">A court ruling on the case of Marie Brunner, Appellant v New York State Higher Education Services corp., Appellee which established the legal precedent of a three part process for determining whether a plaintiff seeking to discharge student loan debt meets the requirement of "undue hardship".</div>
        </li>
        <li>
            Buchanan, Rose. "Last German State Abolishes University Fees." The Independent. Independent     Digital News and Media, 4 Oct. 2014. Web. 8 May 2015.
            <div class="annotation">Buchanan reports on the abolishment of tuition in Germany. Lower Saxony was the last state to reinstate tuition-less higher education after it had originally been introduced to Germany in 2006.</div>
        </li>
        <li>
            Chopra, Rohit. "Student Debt Swells, Federal Loans Now Top a Trillion Newsroom Consumer     Financial Protection Bureau." Consumer Financial Protection Bureau. United States   Government, 17 July 2013. Web. 31 Mar. 2015.
            <div class="annotation">Rohit Chopra of the Consumer Financial Protection Bureau reports on outstanding student debt in the Unites States. The Bureau's finding show that there is now over $1.2 trillion in outstanding student loan  debt and that the Federal Government holds over $1 trillion of that amount.</div>
        </li>
        <li>
            Edwards, Chris, and Neal McCluskey. "Higher Education Subsidies." Downsizing the Federal    Government. CATO Institute, 1 May 2009. Web. 25 Apr. 2015.
            <div class="annotation">Chris Edwards and Neal McCluskey of the CATO institute argue that higher education subsidies cause “education cost inflation, increased regulatory control of colleges and universities, and huge fraud and waste in student aid programs”.</div>
        </li>
        <li>
            Fottrell, Quentin. "A College Degree Is worth $1 Million." MarketWatch. MarketWatch Inc, 8 May  2015. Web. 12 May 2015.
            <div class="annotation">Fottrell reports on a study released by the Georgetown University Center on Education and the Workforce which found that college graduates earn, on average, $1 million more than high school graduates over their respective lifetimes.</div>
        </li>
        <li>
            Iuliano, Jason. "An Empirical Assessment of Student Loan Discharges and the Undue Hardship  Standard." American Bankruptcy Law Journal 86.495 (2011). Social Science Research   Network. Web. 8 May 2015.
            <div class="annotation">Jason Iuliano of the Princeton University Department of Politics performed a study on the undue hardship standard for discharging student loans in bankruptcy. He finds that, despite arguments by academics, the standard is neither burdensome nor applied in an inconsistent manner. Despite judges granting discharge in nearly forty percent of cases, only 0.1 percent of student loan debtors who file for bankruptcy attempt to discharge their student loans.</div>
        </li>
        <li>
            "Federal Higher Education Programs - Overview." Federal Education Budget Project. New America   Foundation, 23 Sept. 2014. Web. 8 Apr. 2015.
            <div class="annotation">Background information and analysis on federal higher education programs produces by the New America Foundation. They provide an overview of federal higher education student aid and other higher education spending by the federal government.</div>
        </li>
		<li>
			Freedman, Josh. "Why We Need The Government To Play An Active Role In Higher Education Finance." Forbes. Forbes Magazine, 4 Sept. 2013. Web. 8 Apr. 2015.
			<div class="annotation">Josh Freedman writes in an opinion piece for Forbes that the price of tuition is inelastic. Increasing prices are not causing fewer students to attend, quite the opposite in fact.</div>
		</li>
        <li>
            Jamrisko, Michelle, and Ilan Kolet. "Cost of College Degree in U.S. Soars 12 Fold: Chart of the Day." Bloomberg Business. Bloomberg, 15 Aug. 2012. Web. 7 Apr. 2015.
            <div class="annotation">Michele Jamrisko and Ilan Kolet of Bloomber Business report that the cost of a university education in the United States has increased by a factor of 12 over the last three decades.</div>
        </li>
		<li>
		McArdle, Megan. "Megan McArdle on the Coming Burst of the College Bubble." Newsweek. Newsweek, 9 Sept. 2012. Web. 7 Apr. 2015. 
			<div class="annotation">Megan McArdle of Newsweek argues that subsidization artificially inflates tuition by upsetting the balance between supply and demand.</div>
		</li>
        <li>
            "National Student Fee and Support Systems in European Higher Education 2014/15." Eurydice – Facts   and Figures. European Commission. Web. 6 Apr. 2015.
            <div class="annotation">A report produced by Eurydice, a subsidiary of the European Commission, on national student fee and support systems in European higher education.</div>
        </li>
        <li>
            "Personal Income Tax in Germany." Personal Income Tax in Germany. Confédération Fiscale Européenn. Web. 8 May 2015.
            <div class="annotation">Information on personal income tax rates in Germany gathered by the CFE.</div>
        </li>
        <li>
            "The Rising Cost of Not Going to College." Pew Research Centers Social Demographic Trends Project   RSS. Pew Research Center, 11 Feb. 2014. Web. 8 May 2015.
            <div class="annotation">A report based on findings by the Pew Research Center on the increasing wage gap between college graduates and other workers. The findings show that not only have wages for college grads increased since 1979, wages for other works have fallen.</div>
        </li>
        <li>
            Reed, Matthew, and Debbie Cochrane. "Student Debt and the Class of 2013." (2014). The Project on Student Debt. The Institute for College Access & Success. Web.
            <div class="annotation">Matthew Reed and Debbie Cochrane of the Insitute for College Access & Success find in their report that student debt levels are continuing to rise "with considerable variation among states as well as colleges".</div>
        </li>
		<li>
			Salles, Joaquim. "This Country Just Abolished College Tuition Fees." ThinkProgress. ThinkProgress, 1 Oct. 2014. Web. 19 May 2015.
		<div class="annotation">Joaquim Salles reports in ThinkProgress on the total abolishment of tuition at universities in Germany. She includes quotations from relevant German politicians on the issue and the motivations behind the transition.</div>
		</li>
        <li>
            "Tuition Costs of Colleges and Universities." National Center for Education Statistics. U.S.    Department of Education, National Center for Education Statistics, 2013. Web. 12 Mar. 2015.
            <div class="annotation">A table of data gathered by the National Center for Education Statistics on the costs and fees associated with public and private institutions of higher education in the United States from 1981 to 2012.</div>
        </li>
		<li>
			Warren, David. "Why Student Aid Is NOT Driving up College Costs." Washington Post. The Washington Post, 31 May 2012. Web. 7 Apr. 2015. 
			<div class="annotation">David L. Warren, the president of the National Association of Independent Colleges and Universities, gathered the results of a number of studies which refute the notion that there is any correlation between the government subsidization of student loans and the price-tag attached to college tuition.</div>
		</li>
        <li>
            "Zero Tuition." The Economist. The Economist Newspaper, 17 Jan. 2015. Web. 8 May 2015.
            <div class="annotation">The Economist reports on President Barack Obama's plan to make community college free for all students accross the United States.</div>
        </li>
    </ol>
</section>
<!-- /Bibliography -->

