<!-- Bibliography -->
<section id="bibliography">
    <h2>Bibliography</h2>
    <ol class="sources">
        <li>
            11 USCA. Sec. 523. 1978.
            <div class="annotation">This section of U.S. bankruptcy law describes the legal structure of student debt, which is not discharable in bankruptcy.</div>
        </li>
        <li>
            Abel, Jaison, and Richard Deitz. "The Value of a College Degree." Liberty Street Economics. Federal Reserve Bank of New York, 2 Sept. 2014. Web. 7 May 2015.
            <div class="annotation">Abel and Deitz of the New York State Fed analyze the value of a college degree. They use data from the U.S. Census Bureau, U.S. Bureau of Labor Statistics, and the U.S. Department of Education, among others, to show that the value of a bachelor's degree for the average graduate has stayed near its all time high of $300,000 for the last decade.</div>
        </li>
        <li>
            Autor, David. "Skills, Education, and the Rise of Earnings Inequality among the “other 99 Percent”." Science 344.6186 (2014): 843-51. Science. HighWirePress. Web. 7 May 2015.
            <div class="annotation">Autor </div>
        </li>
        <li>
            Brunner, Marie. "Brunner Case on Student Loan Discharge." Brunner Case on Student Loan Discharge.   United States Court of Appeals, Second Circuit., 14 Oct. 1987. Web. 8 May 2015.
            <div class="annotation"></div>
        </li>
        <li>
            Buchanan, Rose. "Last German State Abolishes University Fees." The Independent. Independent     Digital News and Media, 4 Oct. 2014. Web. 8 May 2015.
            <div class="annotation"></div>
        </li>
        <li>
            Chopra, Rohit. "Student Debt Swells, Federal Loans Now Top a Trillion Newsroom Consumer     Financial Protection Bureau." Consumer Financial Protection Bureau. United States   Government, 17 July 2013. Web. 31 Mar. 2015.
            <div class="annotation"></div>
        </li>
        <li>
            Edwards, Chris, and Neal McCluskey. "Higher Education Subsidies." Downsizing the Federal    Government. CATO Institute, 1 May 2009. Web. 25 Apr. 2015.
            <div class="annotation"></div>
        </li>
        <li>
            Fottrell, Quentin. "A College Degree Is worth $1 Million." MarketWatch. MarketWatch Inc, 8 May  2015. Web. 12 May 2015.
            <div class="annotation"></div>
        </li>
        <li>
            Iuliano, Jason. "An Empirical Assessment of Student Loan Discharges and the Undue Hardship  Standard." American Bankruptcy Law Journal 86.495 (2011). Social Science Research   Network. Web. 8 May 2015.
            <div class="annotation"></div>
        </li>
        <li>
            "Federal Higher Education Programs - Overview." Federal Education Budget Project. New America   Foundation, 23 Sept. 2014. Web. 8 Apr. 2015.
            <div class="annotation"></div>
        </li>
        <li>
            Jamrisko, Michelle, and Ilan Kolet. "Cost of College Degree in U.S. Soars 12 Fold: Chart of the Day."   Bloomberg Business. Bloomberg, 15 Aug. 2012. Web. 7 Apr. 2015.
            <div class="annotation"></div>
        </li>
        <li>
            "National Student Fee and Support Systems in European Higher Education 2014/15." Eurydice – Facts   and Figures. European Commission. Web. 6 Apr. 2015.
            <div class="annotation"></div>
        </li>
        <li>
            "Personal Income Tax in Germany." Personal Income Tax in Germany. Confédération Fiscale     Européenn. Web. 8 May 2015.
            <div class="annotation"></div>
        </li>
        <li>
            "The Rising Cost of Not Going to College." Pew Research Centers Social Demographic Trends Project   RSS. Pew Research Center, 11 Feb. 2014. Web. 8 May 2015.
            <div class="annotation"></div>
        </li>
        <li>
            Reed, Matthew, and Debbie Cochrane. "Student Debt and the Class of 2013." (2014). The Project on    Student Debt. The Institute for College Access & Success. Web.
            <div class="annotation"></div>
        </li>
        <li>
            "Tuition Costs of Colleges and Universities." National Center for Education Statistics. U.S.    Department of Education, National Center for Education Statistics, 2013. Web. 12 Mar. 2015.
            <div class="annotation"></div>
        </li>
        <li>
            "Zero Tuition." The Economist. The Economist Newspaper, 17 Jan. 2015. Web. 8 May 2015.
            <div class="annotation"></div>
        </li>
    </ol>
</section>
<!-- /Bibliography -->

