<!-- Introduction -->
<section id="introduction">
	<div id="umd-image">
		<div class="overlay">
		</div>	
		<div class="title">
			<h1>
				Free the Students<br/>
				Free Tuition
			</h1>
		</div>
	</div>
	<span class="img-source">Source: https://commons.wikimedia.org </span>
	<br/>
	<br/>
    <h2>Introduction</h2>
	There is a 1.2 trillion dollar student debt crisis in the United States, and the problem is growing every day. Let's look at the factors behind our ballooning debt, and let's see if there is anything we can do about it.
</section>
<!-- /Introduction -->


