<!-- Introduction -->
<section id="introduction">
	<div id="umd-image">
		<div class="overlay">
		</div>	
		<div class="title">
			<h1>
				Free the Students<br/>
				Free Tuition
			</h1>
		</div>
	</div>
	<span class="img-source">Source: https://commons.wikimedia.org </span>
	<br/>
	<br/>
    <h2>Introduction</h2>
	<p>
	There is a 1.2 trillion dollar student debt crisis in the United States, and the problem is growing every day. American students are paying more than ever before and taking on massive amounts of debt. The current system is inefficient and it's beginning to have an adverse effect on the economy as graduates who would have in the past been buying houses or starting businesses are now trapped paying off their loans.
	</p>
</section>
<!-- /Introduction -->


