<!-- Introduction -->
<section id="introduction">
	<div id="umd-image">
		<div class="overlay">
		</div>	
		<div class="title">
			<h1>
				Free the Students<br/>
				Free Tuition
			</h1>
		</div>
	</div>
	<span class="img-source">Source: https://commons.wikimedia.org </span>
	<br/>
	<br/>
    <h2>Introduction</h2>
	<p>
	The 1.2 trillion dollar United States student debt crisis grows more urgent every day as American students pay more than ever before and take on massive loas. The current system is inefficient and is beginning to have an adverse effect on the economy as graduates who would once have been buying houses or starting businesses are now trapped paying off their loans. We can choose a better future for our students and our nation by restructuring the American higher education system to eliminate tuition.
	</p>
</section>
<!-- /Introduction -->


