h1, h2 {
	text-align: center;
	font-weight: bold;
}
h3 {
	font-weight: bold;
	margin-top: $spacing-unit;
}
section {
	margin-bottom: $spacing-unit;
}
#introduction > h2 {
	margin-top: $spacing-unit;
}
hr {
	width: 50%;	
	margin-left: auto;
	margin-right: auto;
	margin-bottom: $spacing-unit;
}
hr.style-eight { 
	margin-top: $spacing-unit * 1;
	padding: 0; 
	border: none; 
	border-top: medium double #333; 
	color: #333; text-align: center; 
} 
hr.style-eight:after { 
	content: "§"; 
	display: inline-block; 
	position: relative; 
	top: -0.85em; 
	font-size: 1.5em; 
	padding: 0 0.25em; 
	background: white; 
}
section > p {
	text-indent: 3em;
}
strong {
	font-weight: bold;
}
img {
	width: 100%;
	margin-top: $spacing-unit;
}
#umd-image {
	width: 100%;
	height: 450px;
	background: url(/img/umd.jpg) no-repeat; 
	background-size: 100% 100%;
	.overlay {
		width: 100%;
		height: 100%;
		background:#222; 
		opacity:0.5;
	}
	.title {
		position: relative;
		top: -350px;
		@include media-query($on-palm) {
			top:-460px; 
		}
		h1 {
			color: white;
			font-size: 5em;
			text-align: center;
			opacity: 1;
		}
	}
}
.img-source {
	color: #999;
}
.annotation {
	color: #333;
	padding: $spacing-unit / 2;
}
.left {
	float: left;
}
.right {
	float: right;
}
.left, .right {
	display: inline-block;
	margin-top: 0;
}
.onethird {
	width: 33%;
	@include media-query($on-palm) {
		width: 100%;
	}
}
.twothirds {
	width: 66%;
	@include media-query($on-palm) {
		width: 100%;
	}
}
