@import '../../common/fonts.scss';
@import '../../common/colors.scss';
@import '../../common/breakpoints.scss';

.cta {
  padding: 24px 0;
  font-family: $font-family-mono;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 95%;
  margin: 0 auto;

  h2 {
    font-size: $font-size-h2;
  }

  .email {
    margin: 24px auto 0;
  }
}
