@import '../../common/fonts.scss';
@import '../../common/colors.scss';
@import '../../common/breakpoints.scss';

.about {
  margin: auto 0 0 0;
  font-family: $font-family-mono;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 95%;

  h1 {
    margin-top: 24px;
    font-size: $font-size-h1;
    font-weight: normal;
    color: black;
  }

  .personal-information {
    margin-top: 24px;
    margin-bottom: 24px;
    width: 600px;
    max-width: 100%;

    .info {
      margin-top: 12px;
      display: flex;
      flex-direction: column;

      @include breakpoint(xxs) {
        flex-direction: row;
      }

      h4 {
        color: black;
        min-width: 130px;
        max-width: 100%;
        font-weight: bold;
        text-align: left;
        margin: 6px 0;
        @include breakpoint(xxs) {
          text-align: right;
          margin: 0;
        }
      }
      p {
        color: $black;
        line-height: 1.2;
        margin-left: 0;
        @include breakpoint(xxs) {
          margin-left: 12px;
        }
      }
    }
  }
}
