@import '../common/animations.scss';
@import '../common/breakpoints.scss';
@import '../common/colors.scss';
@import '../common/fonts.scss';

$card-width: 350px;
$card-height: 200px;

.index-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 24px;
  width: 100%;

  .front-page-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: $font-family-mono;
    color: $black;

    h1 {
      font-size: $font-size-h1;
      text-align: center;
    }

    h2 {
      margin-top: 32px;
      font-size: $font-size-h2;
      text-align: center;

    }

    a.email, a.email:hover, a.email:visited {
      margin-top: 32px;
      color: $blue;
      font-size: $font-size-h3;

      @include breakpoint(xs) {
        font-size: $font-size-h2;
      }

      .hide {
        position: absolute;
        top: -500px;
        left: -500px;
      }
    }

    a.email:hover {
      opacity: $hover-opacity; 
    }


    @include keyframes(slide-down) {
      0% {
        transform: translateY(-48px);
        opacity: 0;
      }
      100% {
        transform: translateY(0px);
        opacity: 1;
      }
    }

    h1 {
      @include animation('slide-down 1600ms');
    }

    h2 {
      @include animation('slide-down 1200ms');
    }

    a.email {
      @include animation('slide-down 800ms');
    }

    .down-arrow {
      .arrow {
        @include keyframes(slide-down-arrow) {
          0% {
            transform: translate(-32px, -32px);
            opacity: 0;
          }
          100% {
            transform: translateY(0px);
            opacity: 1;
          }
        }

        @include animation('slide-down-arrow 400ms');
      }
    }
  }

  .posts {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 24px auto;
    text-align: center;
    max-width: 100%;

    a {
      max-width: 100%;
    }
  }

  .blog-post-preview {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    border-radius: 4px;
    background: pink;
    height: $card-height;
    width: $card-width;
    max-width: 80%;
    margin: 25px auto;

    @include breakpoint(xs) {
      margin: 25px;
      max-width: 100%;
    }

   .preview-image {
      max-width: 60%;
      max-height: 90%;
      margin: auto;

      @include keyframes(fade-in) {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }

      @include animation('fade-in 1500ms');
    }
  }

  .border-lines {
    display: none;

    @include breakpoint(xs) {
      display: block;
    }
  }
}
