div.blog-post-preview {
  display: inline-block;
  height: 200px;
  width: 400px;
  margin: 25px;
  background: pink;
  transition: all 100ms ease-in-out;
}
div.blog-post-preview:hover {
  transform: translateY(-5px);
}
h1 > * {
    font-size: 1.2rem;
    text-decoration-line: none;
}
h2 {
    font-size: 0.8rem !important;
    font-weight: 100 !important;
}
