@import '../common/breakpoints.scss';

$card-width: 400px;
$card-height: 200px;

.index-page {
  display: flex;
  align-items: center;
  margin-top: 24px;
  width: 100%;

  .posts {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: center;

    a {
      max-width: 100%;
    }
  }

  .blog-post-preview {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    border-radius: 4px;
    background: pink;
    height: $card-height;
    width: $card-width;
    max-width: 80%;
    margin: 25px auto;

    @include breakpoint(xs) {
      margin: 25px;
      max-width: 100%;
    }

   .preview-image {
      max-width: 60%;
      max-height: 90%;
      margin: auto;
    }
  }

  .border-lines {
    display: none;

    @include breakpoint(xs) {
      display: block;
    }
  }
}
