@import '../../common/fonts.scss';
@import '../../common/colors.scss';
@import '../../common/breakpoints.scss';

.email {
	a, a:hover, a:visited {
		color: $blue;
		font-size: $font-size-h3;

		@include breakpoint(xs) {
			font-size: $font-size-h2;
		}

		.hide {
			position: absolute;
			opacity: 0;
			top: -5000px;
			left: -5000px;
		}
	}

	a:hover {
		opacity: $hover-opacity; 
	}
}


