$element-width: 400px;
$element-height: 200px;
$border-gap: 6px;
$border-width: 4px;
$transition-time: 150ms;

.border-lines {
  position: absolute;
  top: -($border-gap + $border-width/2);
  left: -($border-gap + $border-width/2);
  height: $element-height + $border-gap*2 + $border-width;
  width: $element-width + $border-gap*2 + $border-width;

  .side-a, .side-b, .side-c, .side-d {
    position: absolute;
    transition: all $transition-time ease-in;
  }
  .side-a, .side-b {
    width: 0px;
    height: $border-width;
  }
  .side-c, .side-d {
    width: $border-width;
    height: 0px;
    transition-delay: $transition-time;
  }
  .side-a {
    top: -($border-width/2);
    left: $border-gap + $border-width/2;
  }
  .side-b {
    bottom: -($border-width/2);
    right: $border-gap + $border-width/2;
    transform: rotate(180deg);
  }
  .side-c {
    bottom: $border-gap + $border-width/2;
    left: -($border-width/2);
    transform: rotate(180deg);
  }
  .side-d {
    top: $border-gap + $border-width/2;
    right: -($border-width/2);
  }

  &:hover {
    .side-a, .side-b {
      width: $element-width; 
    }
    .side-c, .side-d {
      height: $element-height;
    }
  }
}

