@import '../../common/fonts.scss';
@import '../../common/colors.scss';

.header {
  margin-bottom: 24px;
  font-family: $primary-font-family;

  .header-subcontainer {
    margin: 0 auto;
    max-width: 980;
    padding: 16px;

    display: flex;
    flex-direction: row;
    align-items: center;

    h1 {
      margin: 0;
      text-align: center;
      font-size: 18px;
      font-weight: bold;

      a, a:visited {
        text-decoration: none;
        cursor: pointer;
        color: $black;
      }
    }

    .links {
      display: inline-flex;
      flex-direction: row;
      margin-left: auto;

      .item-link {
        height: 32px;
        width: 32px;
        margin: 0 12px;
        position: relative;
        color: black;
        text-decoration: none;
        cursor: pointer;

        .item-image {
          height: 32px;
          width: 32px;
          fill: $black;

          &:hover {
            opacity: .8;
          }
        }
      }
    }
  }
}
