.header {
  margin-bottom: 24px;
  font-family: Helvetica, sans-serif;

  .header-subcontainer {
    margin: 0 auto;
    max-width: 980;
    padding: 16px;

    display: flex;
    flex-direction: row;
    align-items: center;

    h1 {
      margin: 0;
      text-align: center;
    }

    .links {
      display: inline-flex;
      flex-direction: row;
      margin-left: auto;

      .item-link {
        height: 32px;
        width: 32px;
        margin: 0 12px;
        position: relative;
        color: black;
        text-decoration: none;
        cursor: pointer;

        .item-image {
          height: 32px;
          width: 32px;
          fill: #484848;
        }

        .circles {
          opacity: 0;
          transition: all 400ms ease-in-out;

          &:hover {
            .circle-inner {
              transform: rotate(180deg);
            }
            .circle-outer {
              transform: rotate(-225deg);
            }

            opacity: 1;
          }

          .circle-inner {
            position: absolute;
            top: -10px;
            left: -10px;
            height: 48px;
            width: 48px;
            border: 2px solid;
          }
          .circle-outer {
            position: absolute;
            top: -13px;
            left: -13px;
            height: 56px;
            width: 56px;
            border: 1px solid;
          }
          .circle-inner, .circle-outer {
            border-radius: 100%;
            transition: all 400ms ease-in-out;
            border-color: black transparent black transparent;
          }

        }
      }
    }
  }
}
