@import '../../common/fonts.scss';
@import '../../common/colors.scss';

.header {
  margin-bottom: 24px;
  font-family: $primary-font-family;

  .header-subcontainer {
    margin: 0 auto;
    max-width: 980;
    padding: 16px;

    display: flex;
    flex-direction: row;
    align-items: center;

    .root-icon-container {
      margin: 0;
      cursor: pointer;

      .root-icon {
        fill: $black;
        height: 48px;
        width: 48px;
        margin: auto;
      }
    }

    ul.links {
      display: inline-flex;
      flex-direction: row;
      margin-left: auto;
      list-style: none;

      .item-link {
        height: 24px;
        width: 24px;
        margin: 0 12px;
        position: relative;
        color: black;
        text-decoration: none;
        cursor: pointer;

        .item-image {
          height: 24px;
          width: 24px;
          fill: $black;

          &:hover {
            opacity: $hover-opacity;
          }
        }
      }
    }
  }
}
