@import '../../common/fonts.scss';
@import '../../common/colors.scss';

.footer {
  margin-top: auto;
  font-family: $font-family-mono;
  color: $black;
  display: flex;
  flex-direction: column;
  align-items: center;

  .copyright {
    margin-top: 48px;
    margin-bottom: 24px;
  }
}
